<configuracion>
    <log>
        <level>DEBUG</level>
    </log>
    <ventana>
        <ancho>800</ancho>
        <alto>600</alto>
    </ventana>
    <escenario>
        <niveles>
            <nivel>
                <numero>1</numero>
                <fondo>Sprites/backgroundCompleto.png</fondo>
                <monedas>
                    <moneda>
                        <imagen>Sprites/coinsSprites.png</imagen>
                        <coordY>100</coordY>
                        <cantidad>13</cantidad>
                    </moneda>
                    <moneda>
                        <imagen>Sprites/coinsSprites.png</imagen>
                        <coordY>200</coordY>
                        <cantidad>30</cantidad>
                    </moneda>
                </monedas>
                <tiempo>300</tiempo>
                <enemigos>
                    <enemigo>
                        <tipo>enemigo_tortuga</tipo>
                        <imagen>Sprites/koopaGreen.png</imagen>
                        <cantidad>15</cantidad>
                    </enemigo>
                    <enemigo>
                        <tipo>enemigo_hongo</tipo>
                        <imagen>Sprites/Goomba.png</imagen>
                        <cantidad>20</cantidad>
                    </enemigo>
                </enemigos>
                <plataformas>
                    <plataforma>
                        <tipo>plataforma_normal</tipo>
                        <imagen>Sprites/normalBlock.png</imagen>
                        <coordX>100</coordX>
                        <coordY>200</coordY>
                        <cantidad>5</cantidad>
                    </plataforma>
                    <plataforma>
                        <tipo>plataforma_normal</tipo>
                        <imagen>Sprites/normalBlock.png</imagen>
                        <coordX>900</coordX>
                        <coordY>200</coordY>
                        <cantidad>5</cantidad>
                    </plataforma>
                    <plataforma>
                        <tipo>plataforma_normal</tipo>
                        <imagen>Sprites/normalBlock.png</imagen>
                        <coordX>1900</coordX>
                        <coordY>150</coordY>
                        <cantidad>1</cantidad>
                    </plataforma>
                    <plataforma>
                        <tipo>plataforma_sorpresa</tipo>
                        <imagen>Sprites/surpriseBlockSprite.png</imagen>
                        <coordX>2000</coordX>
                        <coordY>150</coordY>
                        <cantidad>1</cantidad>
                    </plataforma>
                    <plataforma>
                        <tipo>plataforma_sorpresa</tipo>
                        <imagen>Sprites/surpriseBlockSprite.png</imagen>
                        <coordX>200</coordX>
                        <coordY>300</coordY>
                        <cantidad>2</cantidad>
                    </plataforma>
                </plataformas>
            </nivel>
            <nivel>
                <numero>2</numero>
                <fondo>Sprites/level2.png</fondo>
                <monedas>
                    <moneda>
                        <imagen>Sprites/coinsSprites.png</imagen>
                        <coordY>100</coordY>
                        <cantidad>13</cantidad>
                    </moneda>
                    <moneda>
                        <imagen>Sprites/coinsSprites.png</imagen>
                        <coordY>200</coordY>
                        <cantidad>30</cantidad>
                    </moneda>
                </monedas>
                <tiempo>300</tiempo>
                <enemigos>
                    <enemigo>
                        <tipo>enemigo_tortuga</tipo>
                        <imagen>Sprites/koopaGreen.png</imagen>
                        <cantidad>2</cantidad>
                    </enemigo>
                    <enemigo>
                        <tipo>enemigo_hongo</tipo>
                        <imagen>Sprites/GoombaDark.png</imagen>
                        <cantidad>20</cantidad>
                    </enemigo>
                </enemigos>
                <plataformas>
                    <plataforma>
                        <tipo>plataforma_normal</tipo>
                        <imagen>Sprites/normalBlock.png</imagen>
                        <coordX>100</coordX>
                        <coordY>200</coordY>
                        <cantidad>5</cantidad>
                    </plataforma>
                    <plataforma>
                        <tipo>plataforma_normal</tipo>
                        <imagen>Sprites/normalBlock.png</imagen>
                        <coordX>900</coordX>
                        <coordY>200</coordY>
                        <cantidad>5</cantidad>
                    </plataforma>
                    <plataforma>
                        <tipo>plataforma_normal</tipo>
                        <imagen>Sprites/normalBlock.png</imagen>
                        <coordX>1900</coordX>
                        <coordY>150</coordY>
                        <cantidad>5</cantidad>
                    </plataforma>
                    <plataforma>
                        <tipo>plataforma_sorpresa</tipo>
                        <imagen>Sprites/surpriseBlockSprite.png</imagen>
                        <coordX>2000</coordX>
                        <coordY>150</coordY>
                        <cantidad>5</cantidad>
                    </plataforma>
                    <plataforma>
                        <tipo>plataforma_sorpresa</tipo>
                        <imagen>Sprites/surpriseBlockSprite.png</imagen>
                        <coordX>200</coordX>
                        <coordY>300</coordY>
                        <cantidad>6</cantidad>
                    </plataforma>
                </plataformas>
            </nivel>
            <nivel>
                <numero>3</numero>
                <fondo>Sprites/level3.png</fondo>
                <monedas>
                    <moneda>
                        <imagen>Sprites/coinsSprites.png</imagen>
                        <coordY>100</coordY>
                        <cantidad>13</cantidad>
                    </moneda>
                    <moneda>
                        <imagen>Sprites/coinsSprites.png</imagen>
                        <coordY>200</coordY>
                        <cantidad>30</cantidad>
                    </moneda>
                </monedas>
                <tiempo>300</tiempo>
                <enemigos>
                    <enemigo>
                        <tipo>enemigo_tortuga</tipo>
                        <imagen>Sprites/koopaGreen.png</imagen>
                        <cantidad>2</cantidad>
                    </enemigo>
                    <enemigo>
                        <tipo>enemigo_hongo</tipo>
                        <imagen>Sprites/Goomba.png</imagen>
                        <cantidad>2</cantidad>
                    </enemigo>
                </enemigos>
                <plataformas>
                    <plataforma>
                        <tipo>plataforma_normal</tipo>
                        <imagen>Sprites/normalBlock.png</imagen>
                        <coordX>100</coordX>
                        <coordY>200</coordY>
                        <cantidad>5</cantidad>
                    </plataforma>
                    <plataforma>
                        <tipo>plataforma_normal</tipo>
                        <imagen>Sprites/normalBlock.png</imagen>
                        <coordX>900</coordX>
                        <coordY>200</coordY>
                        <cantidad>5</cantidad>
                    </plataforma>
                    <plataforma>
                        <tipo>plataforma_normal</tipo>
                        <imagen>Sprites/normalBlock.png</imagen>
                        <coordX>1900</coordX>
                        <coordY>150</coordY>
                        <cantidad>5</cantidad>
                    </plataforma>
                    <plataforma>
                        <tipo>plataforma_sorpresa</tipo>
                        <imagen>Sprites/surpriseBlockSprite.png</imagen>
                        <coordX>2000</coordX>
                        <coordY>150</coordY>
                        <cantidad>5</cantidad>
                    </plataforma>
                    <plataforma>
                        <tipo>plataforma_sorpresa</tipo>
                        <imagen>Sprites/surpriseBlockSprite.png</imagen>
                        <coordX>200</coordX>
                        <coordY>300</coordY>
                        <cantidad>6</cantidad>
                    </plataforma>
                </plataformas>
            </nivel>
        </niveles>
    </escenario>
</configuracion>