<configuracion>
    <log>
        <level>ERROR</level>
    </log>
    <ventana>
        <ancho>800</ancho>
        <alto>600</alto>
    </ventana>
    <escenario>
        <niveles>
            <nivel>
                <numero>1</numero>
                <fondo>/home/file21.bmp</fondo>
                <monedas>30</monedas>
                <tiempo>300</tiempo>
                <enemigos>
                    <enemigo>
                        <tipo>1</tipo>
                        <imagen>/home/file3.bmp</imagen>
                        <cantidad>15</cantidad>
                    </enemigo>
                    <enemigo>
                        <tipo>2</tipo>
                        <imagen>/home/file4.bmp</imagen>
                        <cantidad>20</cantidad>
                    </enemigo>
                </enemigos>
                <plataformas>
                    <plataforma>
                        <tipo>ladrillo</tipo>
                        <coordX>100</coordX>
                        <coordY>200</coordY>
                        <cantidad>5</cantidad>
                    </plataforma>
                    <plataforma>
                        <tipo>sorpresa</tipo>
                        <coordX>200</coordX>
                        <coordY>300</coordY>
                        <cantidad>6</cantidad>
                    </plataforma>
                </plataformas>
            </nivel>
        </niveles>
    </escenario>
</configuracion>