<configuracion>
    <log>
        <level>DEBUG</level>
    </log>
    <ventana>
        <ancho>800</ancho>
        <alto>600</alto>
    </ventana>
    <escenario>
        <niveles>
            <nivel>
                <numero>1</numero>
                <fondo>Sprites/Backgrounds/backgroundCompleto.png</fondo>
                <monedas>
                    <moneda>
                        <imagen>Sprites/Blocks-Coins/coinsSprites.png</imagen>
                        <coordY>200</coordY>
                        <cantidad>13</cantidad>
                    </moneda>
                    <moneda>
                        <imagen>Sprites/Blocks-Coins/coinsSprites.png</imagen>
                        <coordY>320</coordY>
                        <cantidad>30</cantidad>
                    </moneda>
                </monedas>
                <tiempo>300</tiempo>
                <enemigos>
                    <enemigo>
                        <tipo>enemigo_tortuga</tipo>
                        <imagen>Sprites/Enemies/koopaGreen.png</imagen>
                        <cantidad>0</cantidad>
                    </enemigo>
                    <enemigo>
                        <tipo>enemigo_hongo</tipo>
                        <imagen>Sprites/Enemies/Goomba.png</imagen>
                        <cantidad>0</cantidad>
                    </enemigo>
                </enemigos>
                <plataformas>
                    <plataforma>
                        <tipo>plataforma_sorpresa</tipo>
                        <imagen>Sprites/Blocks-Coins/surpriseBlock.png</imagen>
                        <coordX>400</coordX>
                        <coordY>300</coordY>
                        <cantidad>2</cantidad>
                        <hongo>1</hongo>
                    </plataforma>
                    <plataforma>
                        <tipo>plataforma_sorpresa</tipo>
                        <imagen>Sprites/Blocks-Coins/surpriseBlock.png</imagen>
                        <coordX>600</coordX>
                        <coordY>350</coordY>
                        <cantidad>2</cantidad>
                        <hongo>1</hongo>
                    </plataforma>
                    <plataforma>
                        <tipo>plataforma_sorpresa</tipo>
                        <imagen>Sprites/Blocks-Coins/surpriseBlock.png</imagen>
                        <coordX>280</coordX>
                        <coordY>400</coordY>
                        <cantidad>2</cantidad>
                        <hongo>1</hongo>
                    </plataforma>
                </plataformas>
                <pozos>
                    <pozo>
                        <coordX>2950</coordX>
                        <coordY>500</coordY>
                        <ancho>200</ancho>
                        <alto>100</alto>
                    </pozo>
                </pozos>
                <tubos>
                    <tubo>
                        <imagen>Sprites/Blocks-Coins/pipes.png</imagen>
                        <coordX>1600</coordX>
                        <coordY>380</coordY>
                    </tubo>
                    <tubo>
                        <imagen>Sprites/Blocks-Coins/pipes.png</imagen>
                        <coordX>2310</coordX>
                        <coordY>380</coordY>
                    </tubo>
                </tubos>
            </nivel>
            <nivel>
                <numero>2</numero>
                <fondo>Sprites/Backgrounds/level2.png</fondo>
                <monedas>
                    <moneda>
                        <imagen>Sprites/Blocks-Coins/coinsSprites.png</imagen>
                        <coordY>150</coordY>
                        <cantidad>13</cantidad>
                    </moneda>
                    <moneda>
                        <imagen>Sprites/Blocks-Coins/coinsSprites.png</imagen>
                        <coordY>320</coordY>
                        <cantidad>30</cantidad>
                    </moneda>
                </monedas>
                <tiempo>300</tiempo>
                <enemigos>
                    <enemigo>
                        <tipo>enemigo_tortuga</tipo>
                        <imagen>Sprites/Enemies/koopaGreen.png</imagen>
                        <cantidad>6</cantidad>
                    </enemigo>
                    <enemigo>
                        <tipo>enemigo_hongo</tipo>
                        <imagen>Sprites/Enemies/GoombaDark.png</imagen>
                        <cantidad>5</cantidad>
                    </enemigo>
                </enemigos>
                <plataformas>
                    <plataforma>
                        <tipo>plataforma_normal</tipo>
                        <imagen>Sprites/Blocks-Coins/normalBlock.png</imagen>
                        <coordX>500</coordX>
                        <coordY>220</coordY>
                        <cantidad>5</cantidad>
                    </plataforma>
                    <plataforma>
                        <tipo>plataforma_normal</tipo>
                        <imagen>Sprites/Blocks-Coins/normalBlock.png</imagen>
                        <coordX>950</coordX>
                        <coordY>200</coordY>
                        <cantidad>5</cantidad>
                    </plataforma>
                    <plataforma>
                        <tipo>plataforma_normal</tipo>
                        <imagen>Sprites/Blocks-Coins/normalBlock.png</imagen>
                        <coordX>1500</coordX>
                        <coordY>350</coordY>
                        <cantidad>5</cantidad>
                    </plataforma>
                    <plataforma>
                        <tipo>plataforma_normal</tipo>
                        <imagen>Sprites/Blocks-Coins/normalBlock.png</imagen>
                        <coordX>1750</coordX>
                        <coordY>250</coordY>
                        <cantidad>2</cantidad>
                    </plataforma>
                    <plataforma>
                        <tipo>plataforma_normal</tipo>
                        <imagen>Sprites/Blocks-Coins/normalBlock.png</imagen>
                        <coordX>2800</coordX>
                        <coordY>400</coordY>
                        <cantidad>2</cantidad>
                    </plataforma>
                    <plataforma>
                        <tipo>plataforma_sorpresa</tipo>
                        <imagen>Sprites/Blocks-Coins/surpriseBlockSprite.png</imagen>
                        <coordX>1900</coordX>
                        <coordY>150</coordY>
                        <cantidad>5</cantidad>
                        <hongo>0</hongo>
                    </plataforma>
                    <plataforma>
                        <tipo>plataforma_sorpresa</tipo>
                        <imagen>Sprites/Blocks-Coins/surpriseBlockSprite.png</imagen>
                        <coordX>230</coordX>
                        <coordY>310</coordY>
                        <cantidad>6</cantidad>
                        <hongo>1</hongo>
                    </plataforma>
                    <plataforma>
                        <tipo>plataforma_sorpresa</tipo>
                        <imagen>Sprites/Blocks-Coins/surpriseBlockSprite.png</imagen>
                        <coordX>3000</coordX>
                        <coordY>350</coordY>
                        <cantidad>4</cantidad>
                        <hongo>1</hongo>
                    </plataforma>
                </plataformas>
                <pozos>
                    <pozo>
                        <coordX>400</coordX>
                        <coordY>500</coordY>
                        <ancho>200</ancho>
                        <alto>100</alto>
                    </pozo>
                    <pozo>
                        <coordX>2600</coordX>
                        <coordY>500</coordY>
                        <ancho>200</ancho>
                        <alto>100</alto>
                    </pozo>
                </pozos>
                <tubos>
                    <tubo>
                        <imagen>Sprites/Blocks-Coins/pipes.png</imagen>
                        <coordX>100</coordX>
                        <coordY>380</coordY>
                    </tubo>
                    <tubo>
                        <imagen>Sprites/Blocks-Coins/pipes.png</imagen>
                        <coordX>1250</coordX>
                        <coordY>380</coordY>
                    </tubo>
                    <tubo>
                        <imagen>Sprites/Blocks-Coins/pipes.png</imagen>
                        <coordX>2400</coordX>
                        <coordY>380</coordY>
                    </tubo>
                    <tubo>
                        <imagen>Sprites/Blocks-Coins/pipes.png</imagen>
                        <coordX>3400</coordX>
                        <coordY>380</coordY>
                    </tubo>
                </tubos>
            </nivel>
            <nivel>
                <numero>3</numero>
                <fondo>Sprites/Backgrounds/level3.png</fondo>
                <monedas>
                    <moneda>
                        <imagen>Sprites/Blocks-Coins/coinsSprites.png</imagen>
                        <coordY>100</coordY>
                        <cantidad>13</cantidad>
                    </moneda>
                    <moneda>
                        <imagen>Sprites/Blocks-Coins/coinsSprites.png</imagen>
                        <coordY>250</coordY>
                        <cantidad>30</cantidad>
                    </moneda>
                </monedas>
                <tiempo>300</tiempo>
                <enemigos>
                    <enemigo>
                        <tipo>enemigo_tortuga</tipo>
                        <imagen>Sprites/Enemies/koopaGreen.png</imagen>
                        <cantidad>2</cantidad>
                    </enemigo>
                    <enemigo>
                        <tipo>enemigo_hongo</tipo>
                        <imagen>Sprites/Enemies/Goomba.png</imagen>
                        <cantidad>2</cantidad>
                    </enemigo>
                </enemigos>
                <plataformas>
                    <plataforma>
                        <tipo>plataforma_normal</tipo>
                        <imagen>Sprites/Blocks-Coins/normalBlock.png</imagen>
                        <coordX>1200</coordX>
                        <coordY>350</coordY>
                        <cantidad>3</cantidad>
                    </plataforma>
                    <plataforma>
                        <tipo>plataforma_normal</tipo>
                        <imagen>Sprites/Blocks-Coins/normalBlock.png</imagen>
                        <coordX>1900</coordX>
                        <coordY>150</coordY>
                        <cantidad>5</cantidad>
                    </plataforma>
                    <plataforma>
                        <tipo>plataforma_sorpresa</tipo>
                        <imagen>Sprites/Blocks-Coins/surpriseBlockSprite.png</imagen>
                        <coordX>2500</coordX>
                        <coordY>150</coordY>
                        <cantidad>5</cantidad>
                        <hongo>0</hongo>
                    </plataforma>
                    <plataforma>
                        <tipo>plataforma_sorpresa</tipo>
                        <imagen>Sprites/Blocks-Coins/surpriseBlockSprite.png</imagen>
                        <coordX>700</coordX>
                        <coordY>300</coordY>
                        <cantidad>6</cantidad>
                        <hongo>1</hongo>
                        <coordX>1300</coordX>
                        <coordY>275</coordY>
                        <cantidad>15</cantidad>
                    </plataforma>
                </plataformas>
                <pozos>
                    <pozo>
                        <coordX>400</coordX>
                        <coordY>500</coordY>
                        <ancho>200</ancho>
                        <alto>100</alto>
                    </pozo>
                    <pozo>
                        <coordX>900</coordX>
                        <coordY>500</coordY>
                        <ancho>200</ancho>
                        <alto>100</alto>
                    </pozo>
                    <pozo>
                        <coordX>1500</coordX>
                        <coordY>500</coordY>
                        <ancho>200</ancho>
                        <alto>100</alto>
                    </pozo>
                    <pozo>
                        <coordX>2000</coordX>
                        <coordY>500</coordY>
                        <ancho>200</ancho>
                        <alto>100</alto>
                    </pozo>
                </pozos>
                <tubos>
                    <tubo>
                        <imagen>Sprites/Blocks-Coins/pipes.png</imagen>
                        <coordX>260</coordX>
                        <coordY>380</coordY>
                    </tubo>
                    <tubo>
                        <imagen>Sprites/Blocks-Coins/pipes.png</imagen>
                        <coordX>600</coordX>
                        <coordY>380</coordY>
                    </tubo>
                    <tubo>
                        <imagen>Sprites/Blocks-Coins/pipes.png</imagen>
                        <coordX>1860</coordX>
                        <coordY>380</coordY>
                    </tubo>
                    <tubo>
                        <imagen>Sprites/Blocks-Coins/pipes.png</imagen>
                        <coordX>2600</coordX>
                        <coordY>380</coordY>
                    </tubo>
                    <tubo>
                        <imagen>Sprites/Blocks-Coins/pipes.png</imagen>
                        <coordX>3000</coordX>
                        <coordY>380</coordY>
                    </tubo>
                </tubos>
            </nivel>
        </niveles>
        <puntuacion>
            <tiempo>5</tiempo>
        </puntuacion>
    </escenario>
    <credenciales>
         <cantidadJugadores>1</cantidadJugadores>
         <usuarios>
             <usuario>
                 <nombre>a</nombre>
                 <contrasenia>a</contrasenia>
             </usuario>
             <usuario>
                 <nombre>b</nombre>
                 <contrasenia>b</contrasenia>
             </usuario>
             <usuario>
                 <nombre>c</nombre>
                 <contrasenia>c</contrasenia>
             </usuario>
             <usuario>
                 <nombre>d</nombre>
                 <contrasenia>d</contrasenia>
             </usuario>
         </usuarios>
     </credenciales>
 </configuracion>